# backend/.env.example 
DATABASE_URL=postgresql://USUARIO:CONTRASEÑA@localhost:5432/atlas_infancias
SECRET_KEY=CAMBIA_ESTO

# la idea es que copie esto y lo pegue en un nuevo archivo llamado .env, luego reemplace USUARIO, CONTRASEÑA y CAMBIA_ESTO con los valores correspondientes para su configuración local.